//text
$body: #31302c;
$body-medium: rgb(68, 67, 62);
$body-light: #72716b;
$body-lightest: #c3c2bd;

//palette
$off-white: #fffdfa;
$sand: #fcf7f3;
$sand2: #fffaf0;
$sand3: #f3e8dc;

$bluish-black: 1A1C1D;
$blue-light: #0099FF;

$error: #f39c81d9;
$error-light: #f39c8199;

$accent-red: #78201b;
$sand-bright: #ebc57a;

//spacing
$border-large: 1rem;
$border-small: 0.5rem;

//shadow
$shadow: #dcd8d1;
$soft-shadow: 4px 4px 16px $shadow, -4px -4px 16px #fff;

//animation
$short-fade: 0.35s;
$long-fade: 0.75s;
